/* styles.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #ff0000, #c20023, #820327, #420f1d, #000000);
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative; /* Add position relative */
  z-index: 2; /* Set a higher z-index to ensure it's above the video */
}

.title-page1 {
  animation: glow-page1 2s ease-in-out infinite alternate;
  color: transparent;
  background: linear-gradient(to right, rgb(26, 13, 202), rgb(9, 50, 198));
  -webkit-background-clip: text;
  background-clip: text;
}

.description-page1 {
  animation: glow-page1 2s ease-in-out infinite alternate;
}

@keyframes glow-page1 {
  from {
    text-shadow: 0 0 10px #17132e, 0 0 20px #17132e, 0 0 30px #17132e, 0 0 40px #17132e;
  }
  to {
    text-shadow: 0 0 20px #0060ef, 0 0 30px #0060ef, 0 0 40px #0060ef, 0 0 50px #0060ef, 0 0 60px #0060ef;
  }
}
.title {
  margin-top: 300px; /* Adjust margin top */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: #ffffff;
}

.h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 30px;
}
.description {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff; /* Set text color */
  font-size: 1.5em; /* Set the font size */
}

.image {
  max-width: 100%; /* Ensure the image fits within its container */
}

@media screen and (max-width: 600px) {
  /* Adjust styles for smaller screens */
  .title {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  .description {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}




@keyframes glow-page1 {
  from {
    text-shadow: 0 0 10px #17132e, 0 0 20px #17132e, 0 0 30px #17132e, 0 0 40px #17132e;
  }
  to {
    text-shadow: 0 0 20px #0060ef, 0 0 30px #0060ef, 0 0 40px #0060ef, 0 0 50px #0060ef, 0 0 60px #0060ef;
  }
}

#page1 .videoBackground1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Glassmorphism effect for the back button */
#backButton {
  width: 100px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  backdrop-filter: blur(10px);
  z-index: 9999; /* Ensure the button appears on top */
}

#backButton:hover {
  background: rgba(255, 255, 255, 0.3);
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2; /* Set z-index to ensure it overlaps the video */
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(55, 4, 4, 0.9); /* Adjust the opacity (0.8) as needed */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 21px;
  color: #fff9f9;
  font-weight: 700;
  font-family: 'Yu Mincho', 'Yu Gothic', 'Hiragino Mincho Pro', 'MS PMincho', serif; /* Font family for ancient Japanese style */
}

.card__description {
  margin: 5px 0 0;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.4;
  margin-bottom: 7px;
  font-family: 'Yu Mincho', 'Yu Gothic', 'Hiragino Mincho Pro', 'MS PMincho', serif; /* Font family for ancient Japanese style */
}

.card__button {
  background-color: #fd0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card__button:hover {
  background-color: #cc0000;
}

#logo {
  height: 80%;
  background-color: transparent;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(100% - 40px); /* Adjust width to fit the viewport */
    margin-bottom: 20px; /* Add margin to separate cards */
  }

  .card__content {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .card__title {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  .card__description {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
}

a{
  text-decoration: none;
  font-family: 'Yu Mincho', 'Yu Gothic', 'Hiragino Mincho Pro', 'MS PMincho', serif;
  font-size: 15px;
  font-weight: 400;
}
